.all{
    margin: 0 auto;
    background-color: burlywood;
}
.container {
    background-color: blanchedalmond;
    margin: 0 auto;
}
.child{
    margin: auto;
    display: flex;
        justify-content: center;
        align-items: center;
    position: absolute;
    left:42%;
    top:90%;   
    background-color: blanchedalmond; 
}
.intro{
    margin: 0 auto;
    top: 50%;
}
.icon{
    margin: 0 auto;
    left:42%;
}
h1{
    color:white;
    text-shadow: 2px 2px 5px rgb(247, 204, 63);
    line-height: 150px;
}
h6{
    color:rgb(247, 204, 63);
    text-shadow: 0.1em 0.1em black;
    text-align:center;
    border: 3px ridge rgb(43, 43, 43);
    width:100px;
    background-color:#969696;
    margin: 0 auto;
}
h5{
    text-align:center;
    margin: 0 auto;
    text-shadow: 2px 2px 5px whitesmoke;
}


@media (min-width: 768px) {
    .container {
        width: 970px;
      }
      .intro {
          width: 970px;
        }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .intro {
        width: 970px;
      }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    .intro {
        width: 1170px;
      }
  }